*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  background-color: #eee;
  overflow-x: hidden;
}
.App{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header, footer{
  background-color: royalblue;
  color: white;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
}
main{
  flex: 1;
  padding: 1rem 2rem;
  width: 100%;
  margin: auto;
}
ul{
  list-style-type: none;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  width: 100%;
}
li{
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
  padding:0.5rem;
  background-color: white;
  border-radius: 3px;
}

input[type="checkbox"] {
  height: 36px;
  width: 36px;
  cursor: pointer;
}

input[type="checkbox"]:hover {
  appearance: none;
  border: 3px solid royalblue;
  border-radius: 3px;
}

label{
  flex: 1;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}
label:hover{
  font-weight: bold;
  text-decoration: underline;
}
button{
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}
button.delete{
  color: rgba(255, 0, 0, 0.585);
}
button:hover{
 
  font-weight: bold;
}
button.delete{
  color: red;
}
form{
  display: flex;
  width: 100%;
  margin: auto;
 text-align: center;
}
form label{
  position: absolute;
  left: -10000px;
}
form input{
  flex: 1;
 border-top-left-radius: 5px;
 border-bottom-left-radius: 5px;
 padding: 0.25rem 1rem;
 outline: none;
}
form input:hover{
  font-weight: bold;
}
form button{
  background-color: royalblue;
  color: white;
  border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
form button:hover{
  background-color: mediumblue;
}